<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="classes" thread-count="3">
    <listeners>
        <listener class-name="eu.senla.management.setuputill.listeners.SuiteXmlTransformer"/>
        <listener class-name="eu.senla.management.setuputill.listeners.ScreenshotListener"/>
        <listener class-name="eu.senla.management.setuputill.listeners.SelenideVideoNameListener"/>
        <listener class-name="eu.senla.management.setuputill.listeners.RetryListener"/>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>


    <test name="Test1">
        <!--
        <classes>
            <class name="eu.senla.tests.pim.CreateEmployeeTest"/>
            <class name="eu.senla.tests.admin.JobTitlesTest"/>
            <class name="eu.senla.tests.admin.UserManagementAdminPageTest"/>
        </classes>
        -->
        <packages>
            <package name="eu/senla/tests"/>
        </packages>
    </test>
</suite>